@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* group 48 */
.rectangle9 {
    position: absolute;
    width: 800px;
    height: 900px;
    left: 640px;
    top: 0px;

    background: #F2F2F2;
}

.password_label {
    /* Password */
    position: absolute;
    width: 42.46px;
    height: 14px;
    left: 165px;
    top: 530px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #555555;
    
}

.signup_btn_rct{
    /* Rectangle 3 */
    position: absolute;
    width: 350px;
    height: 48px;
    left: 165px;
    top: 611px;

    background: #333333;
    border-radius: 3px;
}

.signup_btn_send {
    position: absolute;
    width: 138px;
    height: 16px;
    left: 271px;
    top: 627px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    
    color: #F9F9F9;
}

.password_rct{
    /* Rectangle 3 */
    position: absolute;
    width: 350px;
    height: 48px;
    left: 165px;
    top: 549px;

    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}


.email_text {
    /* example@email.com */
    position: absolute;
    width: 143px;
    height: 16px;
    left: 186.34px;
    top: 485px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;

    color: #777777;
    
}

.email_rct{
    /* Rectangle 8 */
    position: absolute;
    width: 350px;
    height: 48px;
    left: 165px;
    top: 469px;

    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.email_txt {
    /* Email */
    position: absolute;
    width: 42.46px;
    height: 14px;
    left: 165px;
    top: 450px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #555555;
}

.enterText {
    position: absolute;
    width: 350px;
    height: 54px;
    left: 165px;
    top: 362px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */

    letter-spacing: 0.05em;

    color: #777777;
}

.resetPassword{
    /* Reset password */
    position: absolute;
    width: 188px;
    height: 28px;
    left: 165px;
    top: 322px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;

    color: #333333;
}

/* group 16 */
.find{
    position: absolute;
    width: 350px;
    height: 76px;
    left: 735px;
    top: 128px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.05em;

    color: #333333;

}

/*group14 */
.datingApp {
    /* Dating app */
    position: absolute;
    width: 47.47px;
    height: 32.28px;
    left: 806.11px;
    top: 52.44px;

    color: #555555;
}

.elps10 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 755px;
    top: 48px;
    border-radius: 50%;

    background: #C4C4C4;
    opacity: 0.5;
}
.elps9 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 735px;
    top: 48px;
    border-radius: 50%;

    background: #C4C4C4;
    opacity: 0.7;
}
.image{
    /* image-svgrepo-com 1 */
    position: absolute;
    width: 99px;
    height: 99px;
    left: 991px;
    top: 401px;
}

.rct9{
    position: absolute;
    width: 800px;
    height: 900px;
    left: 640px;
    top: 0px;

    background: #F2F2F2;
}