/* body{

    background-color: #fafafa;
} */
.recommend{
    margin-top: 170px;
}
.card2{
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    width: 200px;
    color: #e5e5e5;
}
.card2:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}
/* .card2:body{
    background-color: #fafafa;
} */

.card_title{
    color: #262626;
    display: block;
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
    text-align: center;
}

.container_recommend{
    margin-top: 80px;
    margin-left: 380px;
    margin-right:100px;
}
img {
    display:block;
    margin:auto;
    text-align: center;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}




.follow{
    background-color: #bebebe !important;
    border: 1px solid #bebebe!important;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px !important;
}

button{
    width:150px;
    display: block;
    text-align: center;
}

.topage{
    display: block;
}
